- unless f.object.marked_for_destruction?
  tr.item-row data-order-target="itemRow"
    td
      = f.hidden_field :_destroy, value: '0', class: 'destroy-input'
      = f.hidden_field :id if f.object.persisted?
      = f.collection_select :product_id, @products, :id, :name, { include_blank: '商品を選択' }, { class: 'form-select product-select', required: true, data: { action: 'change->order#updateProductInfo' } }
    td.text-end
      .unit-price = number_to_currency(f.object.unit_price, unit: '¥', precision: 0) if f.object.unit_price.present?
      = f.hidden_field :unit_price, class: 'unit-price-input'
    td.text-end
      = f.number_field :quantity, class: 'form-control text-end quantity-input', min: 1, required: true, data: { action: 'change->order#calculateAmount', order_target: 'quantity' }
    td.text-end
      .amount = number_to_currency(f.object.amount, unit: '¥', precision: 0) if f.object.amount.present?
      = f.hidden_field :amount, class: 'amount-input'
    td.text-end
      button.btn.btn-danger.btn-sm.delete-item type="button" data-action="order#deleteItem"
        i.bi.bi-trash
        | 削除
- else
  = f.hidden_field :_destroy, value: '1'
  = f.hidden_field :id if f.object.persisted?
  = f.hidden_field :product_id
  = f.hidden_field :unit_price
  = f.hidden_field :quantity
  = f.hidden_field :amount 