.container-fluid
  .d-flex.justify-content-between.align-items-center.mb-4
    div
      h1.h3.mb-1 ベンダーを編集
      .text-muted = @vendor.display_name
    = link_to "詳細へ戻る", admin_vendor_path(@vendor), class: "btn btn-outline-secondary"

  = render "form"
